/* import fira sans from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Comfortaa', sans-serif;
}


.img-raised {
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
}

.team-list img {
    width: 50%;
}

.team-list .content {
    width: 50%;
}

.team-list .content .follow {
    position: absolute;
    bottom: 24px;
}

.team-list:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.team,
.team-list {
    -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 0s;
}

.team .content .title,
.team-list .content .title {
    font-size: 18px;
}

.team .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.team .member-position,
.team .team-social {
    position: absolute;
    bottom: -35px;
    right: 0;
    left: 0;
    margin: auto 10%;
    z-index: 99;
}


.team:hover {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.team:hover .overlay {
    opacity: 0.6;
}

.team:hover .team-social {
    opacity: 1;
}

@media (max-width: 768px) {

    .team-list img,
    .team-list .content {
        width: 100%;
        float: none !important;
    }

    .team-list img .follow,
    .team-list .content .follow {
        position: relative;
        bottom: 0;
    }
}


.para-desc {
    max-width: 600px;
}

.team-link {
    color:#000000;
    text-decoration: none;
}

.team-link:hover {
    color: #000000;
    text-decoration:none;
    cursor:pointer;
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 8rem 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.11) 0%, rgba(248, 248, 248, 0.534) 75%, #ffff 100%), url("../img/bg-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.header.masthead {

}


#mainNav {
    min-height: 3.5rem;
    background-color: #fff;
}

#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.75rem;
    color: #909c9c;
    border: 1px solid #909c9c;
}

#mainNav .navbar-toggler:focus {
    outline: none;
}

#mainNav .navbar-brand {
    color: #000;
    font-weight: 700;
    padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
    color: fade(#fff, 80%);
    outline: none;
    background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
    outline: none;
    background-color: transparent;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        background-color: transparent;
        transition: background-color 0.3s ease-in-out;
    }

    #mainNav .navbar-brand {
        padding: 0.5rem 0;
        color: rgba(0, 0, 0, 1);
    }

    #mainNav .nav-link {
        transition: none;
        padding: 2rem 1.5rem;
        color: rgba(0, 0, 0, 1);
    }

    #mainNav .nav-link:hover {
        color: rgba(0, 0, 0, 1);
    }

    #mainNav .nav-link:active {
        color: #fff;
    }

    #mainNav.navbar-shrink {
        background-color: #fff;
    }

    #mainNav.navbar-shrink .navbar-brand {
        color: #000;
    }

    #mainNav.navbar-shrink .nav-link {
        color: #000;
        padding: 1.5rem 1.5rem 1.25rem;
        border-bottom: 0.25rem solid transparent;
    }

    #mainNav.navbar-shrink .nav-link:hover {
        color: #64a19d;
    }

    #mainNav.navbar-shrink .nav-link:active {
        color: #467370;
    }

    #mainNav.navbar-shrink .nav-link.active {
        color: #64a19d;
        outline: none;
        border-bottom: 0.25rem solid #64a19d;
    }
}


.btn-primary {
    color: #fff;
    background-color: #373738;
    border-color: #373738;
}

.btn-primary:hover {
    color: #fff;
    background-color: #6e6e72;
    border-color: #6e6e72;
}